<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="navbar.component.css">

</head>
<body>
    

<nav class="navbar">
    <a routerLink="/home"> <i class="fas fa-home"></i> <span>home</span> </a>
    <a routerLink="/about?sofienmeftahi"> <i class="fas fa-user"></i> <span>about</span> </a>
    
    <a routerLink="/contact?contact?sofienmeftahi"> <i class="fas fa-address-book"></i> <span>contact</span> </a>
    <a routerLink="/projects"> <i class="fas fa-address-book"></i> <span>Projects</span> </a>
</nav>
</body>
</html>
