<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="projects.component.css">

</head>
<body>
    

<nav class="navbar">
    <app-navbar></app-navbar>
</nav>


<section class="portfolio">

    <h1 class="heading"> <span>my</span> projects </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/images/v24.png" alt="">
         
        </div>
        <div class="dec">
            <h3>project 01</h3>
            <p>"I have created dynamic dashboards that allow real-time visualization of trends, team performances, statistics, and much more."</p>
            <p> ♻️Outil : Microsoft Power Bi</p>
            <a href="https://app.powerbi.com/view?r=eyJrIjoiZmMzMmRhMjgtNTM0OC00YmFiLThmNDMtZDNjMDdmZmM5ODZmIiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9">link</a>
        </div>
    </div>
        <!---div class="box">
            <img src="v24.png" alt="">
            <div class="content">
                <h3>project 02</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div>
       
        <div class="box">
            <img src="images/img-3.jpg" alt="">
            <div class="content">
                <h3>project 03</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-4.jpg" alt="">
            <div class="content">
                <h3>project 04</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-5.jpg" alt="">
            <div class="content">
                <h3>project 05</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div>

        <div class="box">
            <img src="images/img-6.jpg" alt="">
            <div class="content">
                <h3>project 06</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, praesentium.</p>
                <a href="#">read more</a>
            </div>
        </div--->

    

    <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a>
    
</section>


</body>
</html>