@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #0d0d0d;
}

html::-webkit-scrollbar-thumb {
  background: #be13dc;
  border-radius: 5rem;
}

body {
  background: #0d0d0d;
  padding-bottom: 6.5rem;
}

section {
  padding: 0rem 7%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: #dc1392;
}

.btn {
  display: inline-block;
  margin-top: 0.8rem;
  border-radius: 4.0rem;
  background: #dca313;
  padding: .2rem;
  font-size: 1.3rem;
  color: #fff;
  padding-left: 1.8rem;
}

.btn i {
  height: 3.0rem;
  width: 3.0rem;
  line-height: 3.0rem;
  font-size: 1.2rem;
  text-align: center;
  background: #fff;
  color: #dca313;
  border-radius: 50%;
  margin-left: 0.9rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 1.9rem;
}


.portfolio {
  text-align: center;
}

.portfolio .box-container {
  display: -ms-grid;
  display: grid;
  
  gap: 1.2rem;
  margin-bottom: 2rem;
}

.portfolio .box-container .box {
  height: 30rem;
  
  overflow:hidden;
  position: relative;
}

.portfolio .box-container .box:hover .content {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .box-container  .dec {
margin-top: -18px;
  background: rgba(153, 53, 53, 0.654);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
          -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;

}

.portfolio .box-container .dec h3 {
  font-size: 2rem;
  color: #e3c5c5;
  text-transform: uppercase;
  font-weight: normal;
}

.portfolio .box-container .dec p {
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 2;
  color: #aaa;
}

.portfolio .box-container .dec a {
  font-size: 2rem;
  color: #dcb413;
}

.portfolio .box-container .box .content a:hover {
  color: #fff;
}


@media (max-width:800px) {
  .portfolio .box-container .box img {
    height:20rem;
  width: 12rem;
    -webkit-box-flex: 0;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
  
  }
}

