<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="contact.component.css">

</head>

<body>


    <nav class="navbar">
        <app-navbar></app-navbar>
    </nav>
    <section class="contact">

        <h1 class="heading"><b>CONTACT</b><span><b> ME</b></span> </h1>

        <div class="row">

            <div class="info-container">

                <div class="box-container">

                    <div class="box">
                        <i class="fas fa-map"></i>
                        <div class="info">
                            <h3>address :</h3>
                            <p>Jendouba, Tunisie - 8100</p>
                        </div>
                    </div>

                    <div class="box">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <h3>email :</h3>
                            <p>meftahimeftahi560@.com</p>
                        </div>
                    </div>

                    <div class="box">
                        <i class="fas fa-phone"></i>
                        <div class="info">
                            <h3>number :</h3>
                            <p>+216 20975894</p>
                        </div>
                    </div>

                </div>

                <div class="share">
                    <a href="https://www.facebook.com/?ref=homescreenpwa" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/MeftahiSofien" class="fab fa-twitter"></a>
                   
                    <a href="https://www.linkedin.com/in/sofien-meftahi/" class="fab fa-linkedin"></a>
                </div>

            </div>

            <form action="">

           
              <a href="https://www.facebook.com/?ref=homescreenpwa" class="btn"> Send<i class="fab fa-facebook-f"></i> </a> 
                
               
 
              <a href="https://www.linkedin.com/in/sofien-meftahi/" class="btn"> Send<i class="fab fa-linkedin"></i> </a> 
        
              
               <a href="https://www.linkedin.com/in/sofien-meftahi/" class="btn"> Send<i class=" fas fa-envelope"></i> </a> 
            </form>

        </div>

    </section>

</body>

</html>