@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #0d0d0d;
}

html::-webkit-scrollbar-thumb {
  background: #a7cbe3;
  border-radius: 5rem;
}

body {
  background: #000000;
  padding-bottom: 6.5rem;
}

section {
  padding: 0rem 7%;
}

.heading {
  padding-top: 1%;
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: hwb(332 9% 23%);
}

.btn {
  display: inline-block;
  margin-top: 0.2rem;
  border-radius: 4.0rem;
  background: #1f7289;
  padding: .2rem;
  font-size: 1.3rem;
  color: #fff;
  padding-left: 4rem;
}



.btn:hover i {
  margin-left: 1.9rem;
}



.contact .row {
    margin-top: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .info-container {
  width: 20rem;
}

.contact .row .info-container h1 {
  font-size: 1rem;
  text-transform: lowercase;
  color: #fff;
  padding-bottom: 1rem;
}

.contact .row .info-container p {
  font-size: 1rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
  text-transform: none;}

.contact .row .info-container .box-container {
  padding: 1rem 0;
}

.contact .row .info-container .box-container .box {
 
  display: flex;
  gap: 2rem;
  padding: 5rem 0;
}

.contact .row .info-container .box-container .box i {
  font-size: 3rem;
  color: #739ab5;
}

.contact .row .info-container .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.contact .row .info-container .share a {
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  background: #1a1a1a;
  color: #fff;
  text-align: center;
  margin-right: .3rem;
}

.contact .row  form  label{
  display: inline-block;
  margin-top: 0.2rem;
  border-radius: 4.0rem;
 
  padding: .2rem;
  font-size: 1.3rem;
  color: #fff;
  padding-left: 4rem;
}




.contact .row form .inputBox input {
  width: 45%;
}


.contact .row form textarea {
  border-radius: 5rem;
  padding: 1.0rem 1.8rem;
  font-size: 1.4rem;
  color: #fff;
  text-transform: none;
  margin: .7rem 0;
  background: #1a1a1a;
}

.contact .row form textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  height: 15rem;
}






.btn {
  display: inline-block;
  margin-top: 0.8rem;
  border-radius: 4.0rem;
  color: #dca313;
  padding: .2rem;
  font-size: 1.3rem;
  color: #fff;
  padding-left: 1.8rem;
}

.btn i {
  height: 3.0rem;
  width: 3.0rem;
  line-height: 3.0rem;
  font-size: 1.2rem;
  text-align: center;
  background: #fff;
  color: #dca313;
  border-radius: 50%;
  margin-left: 0.9rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.contact  .row form .btn:hover {
  background: #fff;
  color: #9c6767;
}
.btn:hover i {
  margin-left: 1.9rem;
}


@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }
  .navbar a i {
    padding: 0;
  }

  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  .contact .row .info-container .box-container {
    padding: 1rem 0;
    font-size: 0.4rem;
   text-align: left;
    margin-left: -7px;
  }
  .contact .row form label  {
    padding: 1rem 0;
    font-size: 0.8rem;
   text-align: left;
    margin-left: -7px;
  }
  .contact .row .info-container .box-container p{
    padding: 0rem 0;
    font-size: 0.8rem;
    text-align: center;
    margin-left: 0px;
  }
  .home {
    text-align: center;
    gap: 2rem;
  }
  .home .image img {
    height: 22rem;
    width: 22rem;
  }

  .home .content h3 {
    font-size: 1.5rem;
    margin-left: 40px;
  }
  .home .content span {
    font-size: 1.5rem;
    margin-left: 40px;

  }
  .home .content p {
    font-size: 0.8rem;
    margin-left: 40px;

  }
  .contact .row {
    margin-top: 80px;
  }
 
  
  

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */
