<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link rel="stylesheet" href="home.component.css">

</head>

<body>
    <nav class="navbar">
        <app-navbar></app-navbar>
    </nav>



    <section class="home">

        <div class="image">
            <img src="assets/images/ae.jpg" alt="">
        </div>

        <div class="content">
            <h3><b>hi, i am Sofien Meftahi </b></h3>
            <span> Business Intelligence Developer</span>
            <p>I am Sofien, an aspiring Business Intelligence Developer with a strong passion 
                            for data analysis and BI solutions.
                             While I’m currently in the learning phase and not yet employed in the field,
                              I’m actively acquiring the skills and knowledge necessary to excel in Business Intelligence.
                               My enthusiasm for data analysis and my dedication to mastering BI tools drive my desire 
                               to contribute to the field in the future. I’m committed to continuous learning and growth 
                               in pursuit of my goal to become a proficient Business Intelligence Developer. </p>
                               <a href="assets/images/Professional_CV_Resume_(1).pdf"  download='My Cv' class="btn"> download CV <i class="fas fa-download"></i> </a>
        </div>
    </section>



</body>

</html>
